html,body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container{
    flex: 1;
}

.navbar{
    background-color: white;
}

.fa-compass{
    color: rgb(139, 3, 3);
    font-size: 2rem;
}

.nav-link{
    color: #222222;
}

/* Footer */

.f-info{
    display: flex;
    flex-direction: column;
    background-color: #c4c0c0b4;
    justify-content: space-around;
    height: 7rem;
}

.f-info>div{
    margin: auto;
}

.f-info-social>i{
    font-size: 1.2rem;
    margin-left: 0.7rem;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin-left: 0.4rem;
}

.f-info-links a:hover{
    text-decoration: underline;
}

/* Cards */

.row{
    margin-left:20px ;
}
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    height: 20rem !important;
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 1rem !important;
}

.card-link{
    text-decoration: none;
    color: #222222;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    background-color: white;
    opacity: 0.2;
}

/* New Form */

.add-btn{
    background-color: rgb(139, 3, 3) !important;
    color: white;
}

/* Show  */

.show{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details{
    width: 90%;
}
.show-img{
    width: 100%;
    border-radius: 16px;
    aspect-ratio: 5/3;
    object-fit: cover;
}
.show>p{
    font-size: 18px;
}
.show-link{
    display: flex;
    gap: 1.5rem;
    justify-content: left;
}


/* NavbarL */

.topNav{
    text-align: left;
}